[submodule "roles/kiobi"]
	path = roles/kiobi
	url = https://github.com/tomas321/ansible-role-kiobi.git
[submodule "roles/elasticsearch-reindex"]
	path = roles/elasticsearch-reindex
	url = https://github.com/tomas321/ansible-role-elasticsearch-reindex.git
